<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EdurekaProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  	<servlet>
		<servlet-name>account</servlet-name>
		<jsp-file>/account.jsp</jsp-file>  

	</servlet>
	<servlet-mapping>
			<servlet-name>account</servlet-name>
			<url-pattern>/account</url-pattern>
	</servlet-mapping>
	
	  	<servlet>
		<servlet-name>authorize</servlet-name>
		<jsp-file>/authorize.jsp</jsp-file>  
		</servlet>
	
	<servlet-mapping>
			<servlet-name>authorize</servlet-name>
			<url-pattern>/authorize</url-pattern>
	</servlet-mapping>
	
	
	
	  	<servlet>
		<servlet-name>statement</servlet-name>
		<jsp-file>/statement.jsp</jsp-file>  
	</servlet>
	<servlet-mapping>
			<servlet-name>statement</servlet-name>
			<url-pattern>/statement</url-pattern>
	</servlet-mapping>
	
	
	
	  	<servlet>
		<servlet-name>transaction</servlet-name>
		<jsp-file>/transaction.jsp</jsp-file>  
	</servlet>
	<servlet-mapping>
			<servlet-name>transaction</servlet-name>
			<url-pattern>/transaction</url-pattern>
	</servlet-mapping>
	
</web-app>